<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-ligt">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">                     
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/lasagna.jpg" />
                        <div class="card-body">
                            <p class="card-text"><b>Lasagna</b><br />La clásica receta de Lasaña a la boloñesa, una maravilla de platillo de la cocina italiana que a todos nos gusta y que no se necesita un pretexto especial para disfrutarla.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/cha_gio.jpg" />
                        <div class="card-body">
                            <p class="card-text"><b>Gỏi cuốn o nem cuốn (también llamado rollo de verano o rollo de ensalada)</b>:<br /> son ideales para servir como un ligero aperitivo en verano gracias al frescor que le aportan las lechugas y las hierbas que los envuelven. Su relleno se suele componer de carne de cerdo, gambas, hierbas y fideos de arroz. Se sirven fríos (nunca fritos) y se acompañan de una rica salsa de cacahuete.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/churrasco_argentino.jpg" />
                        <div class="card-body">
                            <p class="card-text"><b>Churrasco Argentino</b><br />Argentina tiene una de las mejores carnes del mundo debido a la calidad de su ganado vacuno, para preparar un buen churrasco elegiremos siempre un buen trozo de carne de buey. La salsa la prepararemos siempre antes que la carne para que maceren bien todos sus ingredientes.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/sushi.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                              El equilibrio de los sabores dulces y amargos, y lograr la consistencia perfecta son los principales retos. El proceso de elaboración del sumeshi puede parecer un poco tedioso al principio, pero para quienes aprecian el sushi, los resultados valen la pena.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/costillas.jpg" />
                        <div class="card-body">
                            <p class="card-text">Las costillas BBQ es un clásico dentro de la gastronomía americana. Deliciosas costillitas de cerdo, bañadas en una salsa BBQ agridulce. ¡Prueba este platillo! Vas a ver cómo te va a encantar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/img/enchiladas_suizas.jpg" />
                        <div class="card-body">
                            <p class="card-text">Prepara la receta original de las Enchiladas suizas verdes con queso gratinado. El plato fuerte ideal para consentir a la familia, es fácil de hacer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>